// var mongoose = require('mongoose'),
//   Schema = mongoose.Schema;

// var Schema = new Schema({
//   description: String
// });

// var Destination = mongoose.model('Travelsite', DestinationSchema);

// module.exports = Destination;
