// var mongoose = require('mongoose'),
//   Schema = mongoose.Schema;

// var TravelsiteSchema = new Schema({
//   description: String
// });

// var Travelsite = mongoose.model('Travelsite', TravelsiteSchema);

// module.exports = Travelsite;
